section {
  padding: 0 25px;
  margin-top: 20vh;
  text-align: center;
}

@media only screen and (max-width: 767px) {
  section {
    padding-bottom: 25vw;
  }

  section.start,
  section.check {
    padding-bottom: 0;
  }
}

section.start {
  padding: 0;
  margin-top: 0;
  height: 95vh;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
}

section.start img {
  width: 70%;
}

@media only screen and (max-width: 992px) {
  section.start img {
    width: 80%;
  }
}

@media only screen and (max-width: 767px) {
  section.start {
    height: 85vh;
  }
  section.start img {
    width: 100%;
  }
}

#sundes {
  font-size: 15px;
  position: absolute;
  top: 10px;
  right: 10px;
}

#sundes a {
  text-decoration: none;
  color: powderblue;
}

#sundes a:hover {
  font-style: normal;
}

section.start + #sundes {
  display: none;
}
