@font-face {
	font-family: 'Comic Sans';
	src: url("./images/Comic-Sans-MS.ttf") format('truetype');
}

body {
  margin: 0;
  padding: 0;
  letter-spacing: 1px;
  font-family: 'Comic Sans MS', 'Comic Sans', monospace;
}

h1, h2 {
  margin: 0;
}

h1 {
  letter-spacing: 4px;
  text-transform: lowercase;
  position: fixed;
  font-size: 45px;
  top: 4vw;
  right: 6vw;
}

a {
  color: #000;
  text-decoration: underline;
}

a:hover {
  padding-bottom: 0;
  border-bottom: none;
  font-style: italic;
}

h1 a {
  color: gold;
  text-decoration: none;
}

h1 a:hover {
  font-style: italic;
}

h2 {
  font-weight: normal;
  font-size: 25px;
}

p:nth-child(1),
p:nth-child(1) a,
p:nth-child(1) input {
  color: mediumspringgreen;
}

p:nth-child(2),
p:nth-child(2) a,
p:nth-child(2) input {
  color: purple;
}


p:nth-child(3),
p:nth-child(3) a,
p:nth-child(3) input {
  color: orange;
}
